<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.firsttry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".monday1class"></activity>
        <activity android:name=".monday2class"></activity>
        <activity android:name=".monday3class"></activity>
        <activity android:name=".monday4class"></activity>
        <activity android:name=".monday5class"></activity>
        <activity android:name=".tuesday1class"></activity>
        <activity android:name=".tuesday2class"></activity>
        <activity android:name=".tuesday3class"></activity>
        <activity android:name=".tuesday4class"></activity>
        <activity android:name=".tuesday5class"></activity>
        <activity android:name=".thursday1class"></activity>
        <activity android:name=".thursday2class"></activity>
        <activity android:name=".thursday3class"></activity>
        <activity android:name=".thursday4class"></activity>
        <activity android:name=".thursday5class"></activity>
        <activity android:name=".friday1class"></activity>
        <activity android:name=".friday2class"></activity>
        <activity android:name=".friday3class"></activity>
        <activity android:name=".friday4class"></activity>
        <activity android:name=".friday5class"></activity>
        <activity android:name=".saturday1class"></activity>
        <activity android:name=".saturday2class"></activity>
        <activity android:name=".saturday3class"></activity>
        <activity android:name=".saturday4class"></activity>
        <activity android:name=".saturday5class"></activity>

    </application>

</manifest>